<div class="container row">
  <div class="col-md-12">
      <h1>Upload Image</h1>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">

  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload" class="btn btn-primary">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<!-- <div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Img</th>
    </tr>
  </thead>
    <tr *ngFor="let post of posts">
      <th scope="row">{{post.id}}</th>
      <td>
        <img src="{{post.img}}" style="width: 200px; height: 200px;" >
      </td>
    </tr>
</table>
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>